*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-size:0.1625;
    font-family:arial;
}

header {
    min-height:100vh;
    display:flex;
    background-image:linear-gradient(to bottom right, #CA054D,#3B1C32);
}

.card {
    height:20%;
    width:50%;
    max-width:50rem;
    background-color:#ffcf9c;
    border-radius:.5rem;
    display:flex;
    flex-direction:column;
    margin:auto;
    width:80%;
    box-shadow:1px 2px 3px black;
    padding:1rem;
    z-index:1;
}

.headshot {
    width:50%;
    min-width:150px;
    max-width:15rem;
    border-radius:50%;
    border:#FFF solid .1rem;
    margin:auto;
    display:block;
}

h1 {
    text-align:center;
    color:#896D40;
}

.header-main {
    display:block;
}

.header-sub {
    display:block;
    font-size:1.5rem;
    letter-spacing:1.1px;
}

.social-icons {
    display:block;
    text-align:center;
    margin-top:1rem;
}

.social-icon {
    height:1.5rem;
    margin:0 .5rem;
}

.info-container {
    height:100%;
    display:flex;
}

.header-intro {
    margin:auto;
    text-align:center;
    color:#896D40;
}

.arrows {
    position:absolute;
    display:flex;
    flex-direction:column;
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
}

.square {
    height:20px;
    width:20px;
    transform:rotate(45deg);
    margin:-5px;
}
.border-1 {
    position:absolute;
    right:0;
    height:100%;
    width:10%;
    background-color:#FFF;
}
.border-2{
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
    background-color:#FFF;
}

#arrow-1 {
    animation: 2s linear infinite fade;
    opacity:0;
}

#arrow-2 {
    animation: 2s linear infinite fade;
    animation-delay: .5s;
    opacity:0;
}

#arrow-3 {
    animation: 2s linear infinite fade;
    animation-delay: 1s;
    opacity:0;
}

@keyframes fade {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


main {
    background-image:linear-gradient(to bottom left,#3B1C32, #CA054D);
}

.professional-experience {
    display:flex;
    flex-direction:column;
    width:100%;
}

.experience-card {
    width:50%;
    max-width:50rem;
    background-color:#ffcf9c;
    border-radius:.5rem;
    margin:auto;
    height:90%;
    width:80%;
    box-shadow:1px 2px 3px black;
    padding:1rem;
    margin:.5rem auto;
    color:#896D40;
}

